-- Table struktur untuk admins
CREATE TABLE admins (
    id BIGINT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    email VARCHAR(255) NOT NULL UNIQUE,
    password VARCHAR(255) NOT NULL,
    remember_token VARCHAR(100) NULL,
    created_at TIMESTAMP NULL,
    updated_at TIMESTAMP NULL
);

-- Table struktur untuk mapels (mata pelajaran)
CREATE TABLE mapels (
    id BIGINT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
    materi VARCHAR(255) NOT NULL,
    deskripsi VARCHAR(255) NOT NULL,
    created_at TIMESTAMP NULL,
    updated_at TIMESTAMP NULL
);

-- Table struktur untuk kelas
CREATE TABLE kelas (
    id BIGINT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
    namakelas VARCHAR(255) NOT NULL,
    peryataan VARCHAR(255) NOT NULL,
    created_at TIMESTAMP NULL,
    updated_at TIMESTAMP NULL
);

-- Table struktur untuk tugas
CREATE TABLE tugas (
    id BIGINT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
    mapel_id BIGINT UNSIGNED NOT NULL,
    filetugas VARCHAR(255) NOT NULL,
    created_at TIMESTAMP NULL,
    updated_at TIMESTAMP NULL,
    FOREIGN KEY (mapel_id) REFERENCES mapels(id)
);

-- Table struktur untuk siswas
CREATE TABLE siswas (
    id BIGINT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
    kelas_id BIGINT UNSIGNED NOT NULL,
    nama VARCHAR(255) NOT NULL,
    nis VARCHAR(255) NOT NULL, 
    password VARCHAR(255) NOT NULL,
    created_at TIMESTAMP NULL,
    updated_at TIMESTAMP NULL,
    FOREIGN KEY (kelas_id) REFERENCES kelas(id)
);

-- Table struktur untuk nilais
CREATE TABLE nilais (
    id BIGINT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
    siswa_id BIGINT UNSIGNED NOT NULL,
    tugas_id BIGINT UNSIGNED NOT NULL,
    hasil VARCHAR(255) NOT NULL,
    tanggal BIGINT UNSIGNED NOT NULL,
    created_at TIMESTAMP NULL,
    updated_at TIMESTAMP NULL,
    FOREIGN KEY (siswa_id) REFERENCES siswas(id),
    FOREIGN KEY (tugas_id) REFERENCES tugas(id)
);

-- Table struktur untuk sessions
CREATE TABLE sessions (
    id VARCHAR(191) NOT NULL PRIMARY KEY,
    user_id BIGINT UNSIGNED NULL,
    ip_address VARCHAR(45) NULL,
    user_agent TEXT NULL,
    payload TEXT NOT NULL,
    last_activity INT NOT NULL
);

-- Table struktur untuk tugas_kelas (pivot table)
CREATE TABLE tugas_kelas (
    tugas_id BIGINT UNSIGNED NOT NULL,
    kelas_id BIGINT UNSIGNED NOT NULL,
    created_at TIMESTAMP NULL,
    updated_at TIMESTAMP NULL,
    PRIMARY KEY (tugas_id, kelas_id),
    FOREIGN KEY (tugas_id) REFERENCES tugas(id) ON DELETE CASCADE,
    FOREIGN KEY (kelas_id) REFERENCES kelas(id) ON DELETE CASCADE
);

-- Create indexes
CREATE INDEX sessions_user_id_index ON sessions (user_id);
CREATE INDEX sessions_last_activity_index ON sessions (last_activity);

-- If you need to alter an existing table, run this:
ALTER TABLE nilais MODIFY COLUMN hasil VARCHAR(255) NOT NULL;
